.root {
    background: linear-gradient(270deg, var(--colors-background), var(--colors-surface));
    width: 100%;
    padding: 3rem 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    &_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 28px;
        position: relative;
    }
}

.avatars {
    width: 30%;
    height: 250px;
}

.comments {
    width: 70%;
    padding: 36px;
    position: relative;
}

.avatar_wrapper {
    width: var(--avatar-width);
    height: var(--avatar-height);
    transition: all 0.25s linear;
    position: relative;

    .avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: all 250ms linear;
        z-index: 2;
    }

    &[data-selected="true"] {
        .avatar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: var(--avatar-selected-width);
            height: var(--avatar-selected-height);
            z-index: 4;
        }
    }
}

.comment_wrapper {
    margin: 0px 8px;

    .comment {
        padding: 36px 48px ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 3rem;

        &_text {
            font-size: 21px;
            font-weight: 600;
            opacity: 1;
            max-width: 80%;
        }
    }
}

.comment_author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 4px;

    &_name {
        font-size: 24px !important;
        font-family: var(--fonts-heading) !important;
        opacity: 1;
        font-weight: 600;
    }

    &_role {
        font-size: 16px;
        font-weight: 400;
    }
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    color: var(--colors-primary);
}

.carousel_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 36px;
    right: 0;
    transform: translateY(-100%);
}


.grid {
    position: absolute;
    top: 0;
    right: 10px;
    animation: grid-animation 5s ease-in-out infinite alternate;
}


@keyframes grid-animation {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(50%);
    }
}