@keyframes triangle {
    0% {
        transform: translate(10%, -50%);
    }

    100% {
        transform: translate(30%, -50%);
    }
}


.root {
    width: 100%;
    padding: 4rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &_content {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 64px;
        overflow-x: hidden;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 4px;

        .title {
            max-width: 34ch;
        }
    }
}

.header_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.carousel_btns {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.awards {
    overflow: hidden;
}

.award_slide {
    width: calc(var(--wrapper-width) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
}

.award_wrapper {
    transition: all 250ms linear;
    width: 100%;
    pointer-events: none;
}

.award {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    //padding: 8px;

    &_year {
        font-size: 32px !important;
        font-weight: 600;
        color: var(--colors-primary) !important;
        font-family: var(--fonts-heading) !important;
    }

    &_title {
        font-weight: bold;
        font-size: 21px !important;
        font-family: var(--fonts-heading) !important;
        font-weight: 600;
        opacity: 1 !important;
    }

    &_description {
        font-size: 16px !important;
    }
}

.lost_triangle {
    background: var(--colors-surface);
    position: absolute;
    right: 0;
    top: 50%;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    transform: translateY(-50%);
    animation: triangle 3s ease-out .5s infinite alternate;
}
