.root {
    width: 100%;
    padding: 4rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_content {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 64px;
        overflow-x: hidden;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 4px;

        .title {
            max-width: 34ch;
        }
    }
}

.header_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.carousel_btns {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.awards {
    width: 100%;
}

.award_slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.award_wrapper {
    transition: all 250ms linear;
    width: 680px;
    padding-right: 24px;
}

.award {
    position: relative;
    transition: all 250ms linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: red;
    padding: 24px;

    &_year {
        font-size: 32px !important;
        font-weight: 600;
        color: var(--colors-primary) !important;
        font-family: var(--fonts-body) !important;
    }

    &_title {
        font-weight: bold;
        font-size: 20px !important;
        font-family: var(--fonts-heading) !important;
        font-weight: 600;
    }

    &_description {
        font-size: 16px !important;
    }
}


@media screen and (max-width: 960px) {
    .root {
        width: 100%;
        padding: 2rem 0px;

        &_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 64px;
        }
    }

    .header_row {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }

    .award_wrapper {
        transition: all 250ms linear;
        width: 100%;
        height: 360px;
        padding: 0px 0px;
    }

    .indicators {
        display: flex;
    }
}
