$cells_count: 4;
$cell_size: 196px;

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding: 4rem 0px;

    --cells_count: #{$cells_count};
    --cell_size: #{$cell_size};

    &_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 16px;
    }

    &_heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 16px;

        &_title {
            max-width: 16ch;
            margin-bottom: 32px;
        }
    }
}

.services {
    display: grid;
    grid-template-columns: repeat($cells_count, $cell_size);
    column-gap: 24px;
    row-gap: 24px;
}

.service {
    border-radius: 24px;
    height: var(--cell_size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    .img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        object-fit: cover;
        object-position: center;
    }

    .textlayer {
        position: absolute;
        z-index: 2;
        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;
        border-radius: 24px;
        background-color: #00000060;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 48px 16px 24px 24px;
        gap: 8px;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: var(--colors-primary);
        }

        .text {
            font-weight: 600;
            font-size: 22px;
            font-family: var(--fonts-heading);
            text-align: left;
            opacity: 1;
        }
    }

    &:hover {
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: perspective(600px) translate3d(0, 0, 0);
        box-shadow: 16px 16px 56px var(--colors-primary-50), 
            -16px -16px 56px var(--colors-primary-50);
    }
}

@for $i from 1 through $cells_count {
    @for $j from 1 through $cells_count {
        .service[data-row="#{$i}"][data-col="#{$j}"] {
            grid-row: $i / span 1;
            grid-column: $j / span 1;
        }
    }
}

@media screen and (max-width: 960px) {
    .root {
        padding: 1.5rem 0px;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 24px;
        }

        &_heading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 16px;

            &_title {
                max-width: 16ch;
                margin-bottom: 32px;
            }
        }
    }

    .services {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    $cell_size: 280px;

    .service {
        width: 100%;
        height: $cell_size;
    }
}
