.root {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
}

.content_section {
    width: 100%;
    min-height: calc(100% - var(--size-min-appbar-height));
    padding-bottom: calc(var(--heading-bottom-card-transform) + 46px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .hero_title {
            font-size: 120px;
            margin-top: 86px;
            margin-bottom: 60px;
        }
    }
}

.hero_content {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 36px 0px;

    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .right {
    }
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

@media screen and (max-width: 1280px) {
    .root {
        position: relative;
    }

    .content_section {
        //min-height: calc(100vh - var(--size-min-appbar-height) - 128px);
        padding-bottom: calc(var(--heading-bottom-card-transform) + 36px);

        .main {
            .hero_title {
                font-size: 2.5rem;
                margin-bottom: 12px;
            }
        }
    }

    .hero_content {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        row-gap: 1.5rem;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(-1 * var(--heading-bottom-card-transform)));
    }
}
