.root {
    width: 100%;
    padding: 4rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 64px;
    }

    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 4px;

        .title {
            max-width: 14ch;
        }
    }
}

.header_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.carousel_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.members {
    width: 100%;
}

.member_wrapper {
    transition: all 250ms linear;
    width: 320px;
    height: 360px;
    padding-right: 24px;
}

.member {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: all 250ms linear;

    .img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        //background: linear-gradient(90deg, #000000, #00000000);

        &_content {
            width: 100%;
            height: 100%;
            border-radius: 24px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 16px;

            position: relative;
            overflow: hidden;
        }
    }

    .name_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 16px;
    }

    .name {
        font-weight: bold;
        font-size: 18px;
        font-family: var(--fonts-heading);
        font-weight: 500;
        margin-bottom: 4px;
    }
}


.indicators {
    padding: 24px 0px;
    width: 100%;
    display: none;
    flex: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.indicator {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid var(--colors-primary);
    background-color: var(--colors-primary);
    padding: 4px;

    .dot {
        background: transparent;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 100%;
    }

    &[data-selected="true"] {
        background: transparent;

        .dot {
            background: var(--colors-primary);
        }
    }
}


@media screen and (max-width: 960px) {
    .root {
        width: 100%;
        padding: 2rem 0px;
    
        &_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 64px;
        }
    }

    .header_row {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }

    .member_wrapper {
        transition: all 250ms linear;
        width: 100%;
        height: 360px;
        padding: 0px 0px;
    }

    .indicators {
        display: flex;
    }
    
}