
.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding: 8rem 0px;

    &_container {
        width: 100% !important;
        padding-left: calc((100% - var(--size-container-max-width)) / 2);
        padding-right: 8px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 16px;
    }

    &_heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 16px;

        &_title {
            max-width: 16ch;
            margin-bottom: 32px;
        }

    }
}

.articles {
    width: 65%;
}

.article_wrapper {
    transition: all 250ms linear;
    width: 380px;
    height: 420px;
    padding-right: 24px;
}

.article {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: all 250ms linear;

    .img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        background: linear-gradient(0deg, #000000, #00000000);

        &_content {
            width: 100%;
            height: 100%;
            border-radius: 24px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 16px;

            position: relative;
            overflow: hidden;
        }
    }

    .name_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 16px;
        row-gap: 8px;
    }

    .name {
        font-weight: bold;
        font-size: 21px;
        opacity: 1;
        font-family: var(--fonts-heading);
        font-weight: 600;
        transition: all 250ms linear;

        &:hover {
            color: var(--colors-primary);
        }
    }
}


.indicators {
    padding: 24px 0px;
    width: 100%;
    display: none;
    flex: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.indicator {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid var(--colors-primary);
    background-color: var(--colors-primary);
    padding: 4px;

    .dot {
        background: transparent;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 100%;
    }

    &[data-selected="true"] {
        background: transparent;

        .dot {
            background: var(--colors-primary);
        }
    }
}


@media screen and (max-width: 960px) {
    .root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
        padding: 4rem 0px;
    
        &_container {
            width: 100% !important;
            padding-left: calc((100% - var(--size-container-max-width)) / 2);
            padding-right: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 16px;
        }
    }

    .articles {
        width: 100%;
    }

    .article_wrapper {
        width: 90%;
        height: 320px;
        padding: 0px 8px;
    }
    
    .article {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        transition: all 250ms linear;
    }

    .indicators {
        display: flex;
    }
    
}