@import "./desktop.scss";
@import "./mobile.scss";


.root_mobile {
    display: none;
}

@media screen and (max-width: 960px) {
    
    .root_desktop {
        display: none;
    }

    .root_mobile {
        display: block;
    }
}