$height: 380px;

.base {
    width: 100%;
    min-height: 100vh;
    background: no-repeat center / cover fixed url("../assets/img/about_hero_bg.jpeg");
}

.heading {
    width: 100%;
    min-height: #{$height};
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body {
    width: 100%;
    background-color: var(--colors-background);
    min-height: calc(100vh - #{$height});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8rem 0px;

    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 8rem;
    }
}

@media screen and (max-width: 640px) {
    
    $height: 240px;
    .heading {
        width: 100%;
        min-height: #{$height};
    }

    .body {
        padding: 4rem;

        &_container {
            //padding: var(--mobile-page-padding);
            gap: 3rem;
        }
    }
}