.content {
    width: 100%;
    background: var(--colors-background);
}

.cta_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0px;
}