.appbar {
    width: 100%;
    min-height: var(--min-appbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .content {
        width: 100%;
        padding: 0px var(--size-container-padding);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .item {
            padding: 24px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                color: var(--colors-primary);
            }
        }
    }
}