.appbar {
    width: 100%;
    min-height: var(--size-min-appbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .content {
        padding: 0px var(--size-container-padding);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .item {
            padding: 24px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                color: var(--colors-primary);
            }
        }
    }

    .hamburger {
        all: unset;
        color: var (--colors-on-background);
        display: none;
    }
}


@media screen and  (max-width: 880px) {
    .appbar {
        padding: 24px;
    }

    .appbar .heading {
        font-size: 1.5rem !important;
    }

    .appbar .menu {
        display: none;
    }

    .appbar .hamburger {
        display: block;
    }
}